<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create new user</title>
</head>
<body>
<div align="center">
    <h1>Create a new user</h1>
    <br/>
    <form action="#" th:action="@{/users/create}" th:object="${user}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="${user.username}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="${user.password}"></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>
                    <select th:object="${role}" th:field="${role.name}">
                        <option th:each="role : ${roles}"
                                th:value="${role.getName()}"
                                th:text="${role.getName()}">
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>Permission:</td>
                <td>
                    <select th:object="${permission}" th:field="${permission.permission}">
                        <option th:each="permission : ${permissions}"
                                th:value="${permission.getPermission()}"
                                th:text="${permission.getPermission()}">
                            <input type="hidden" name="permission.id" th:value="${permission.getId()}"/>
                        </option>
                    </select>


                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">create</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>